.row-wrapper {
    margin-bottom: 20px;

    .select-semester {
        margin-right: 10px;
        width: 25%;
    }

    .search-course {
        width: 70%;
    }
}

.ant-form-item-label {
    font-weight: 600;
    margin-bottom: 10px;
}
